body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    /*background-color: skyblue;*/
    background-image: url(IMG/1.jpeg);
    background-size: cover;
    background-position: center;    
}